<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- indica como se va a presentar el texto en el lanvegador-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--etiqueta de posicionamiento-->
    <meta name="keywords" content="palabras, de, busqueda">
    
    <title>Busqueda de productos</title>
</head>
<body>
    <form action="/buscar/" method="GET">
    <input type="text" name="prd">
    <input type="submit" value="Buscar">
    
    
    
    </form>


</body>
</html>